# Nuxt build output
.nuxt
.output
.data
.cache
dist

# Dependencies
node_modules

# Environment files
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Deployment
.vercel

# Editors and operating systems
.idea
.vscode
.DS_Store
Thumbs.db
